@model ControleDespesas.DTOs.ListarDespesasDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm">
        <h1 style="text-align: center">Despesas</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a asp-action="Create" asp-controller="Despesa" class="btn-primary btn-lg btn-block">Nova Despesa</a>
    </div>
</div>
<br />
<form method="post">
    <div asp-validation-summary="All" class="text-danger">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input asp-for="DataInicial" type="date" placeholder="Informe a data Inicial" class="form-control"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input asp-for="DataFinal" type="date" placeholder="Informe a data Final" class="form-control"/>
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col=md">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Items.Count > 0)
                {
                    foreach(var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Descricao</td>
                            <td>@item.Data.ToString("dd/MM/yyyy")</td>
                            <td>@item.Valor</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4">Nenhum registro encontrado.</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>